.header {
    background: rgba(229, 84, 115, 0.10);
    margin: 0;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about {
    padding: 130px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 130px 0;

}

.title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-information {
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

main {
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info-container {
    text-align: center;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
}

.banner .banner-picture {
    width: 635px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 25px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;

}

.banner-content {
    width: 500px;
}

.offer {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.second-banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-title-all {
    color: #272727;

    font-size: 40px;

    font-weight: 800;
    margin-bottom: 25px;

}

.banner-description-2 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;

}

.banner-content2 {
    width: 500px;
    text-align: center;
}

.deals {


    padding: 30px 30px 30px 150px;

}

.red {
    color: #E55473;
}

.last-banner {
    background-image: url('../styles/f.png');
    background-repeat: no-repeat;


}




.area {
    border-radius: 10px;
    background: #FFF;
    border: 0;
    padding: 20px 20px;
}

footer {
    background-color: #181818;
    width: 1922px;
}

.white {
    color: #FFF;
}

.banner-title {


    font-size: 48px;

    font-weight: 800;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);


    font-size: 18px;

    font-weight: 400;

}

.footer-ending {
    color: rgba(255, 255, 255, 0.40);


    font-size: 16px;

    font-weight: 400;

}

.footer-container {
    text-align: center;
    padding: 50px 50px;
    margin-top: 10px;
}

.width {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title {
    text-align: center;
    margin-bottom: 0;
}

.section-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;

}

#section-description-id {
    padding: 10px 150px;
}

.pictures-container {
    display: flex;
    gap: 10px;

}

.skill {
    padding: 5px;
    border-radius: 5px;
    background: #f4f1f1;
    box-shadow: 0px 6px 50px 0px rgba(76, 74, 74, 0.06);
}


.pictures-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deals-container {

    background-image: url('../styles/f.png');
    padding: 30px 30px 150px;
    margin-top: 130px;
}

.deals {
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    padding: 0px;
}

#input {
    padding: 20px 20px;
    border: 0;
    background-color: #FFF;
}

.main-deals {
    background-image: url('../styles/f.png');
    background-repeat: repeat-x;
    padding: 200px 200px 200px 200px;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
}

.deals-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
}

.bonous-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
   
    

}

.flower-5 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-6 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-7 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}